In [454]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [484]:
sp500df = pd.read_csv(r'C:\Users\LEEDAEWOOK\Desktop\DL_final\sp500_companies.csv', encoding='utf-8')
sp500df.head()

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,149.64,2455053795328,1.306340e+11,0.086,Cupertino,CA,United States,154000.0,"Apple Inc. designs, manufactures, and markets ...",0.064327
1,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software—Infrastructure,273.24,2051480354816,9.498300e+10,0.184,Redmond,WA,United States,181000.0,"Microsoft Corporation develops, licenses, and ...",0.053753
2,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,2255.98,1497345818624,9.584100e+10,0.230,Mountain View,CA,United States,163906.0,Alphabet Inc. provides various products and pl...,0.039234
3,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,2246.33,1491116228608,9.584100e+10,0.230,Mountain View,CA,United States,163906.0,Alphabet Inc. provides various products and pl...,0.039070
4,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,2302.93,1167926362112,5.544900e+10,0.073,Seattle,WA,United States,1622000.0,"Amazon.com, Inc. engages in the retail sale of...",0.030602

In [456]:
# 불필요한 feature 제거
sp500df = sp500df.iloc[:, [1, 7, 8, 9, 13]] # Symbol(Ticker), 시가총액, EBITDA, 이익성장률, 임직원수

In [457]:
sp500df.set_index(keys=['Symbol'], inplace=True)

In [458]:
sp500df

            Marketcap        Ebitda  Revenuegrowth  Fulltimeemployees
Symbol
AAPL    2455053795328  1.306340e+11          0.086           154000.0
MSFT    2051480354816  9.498300e+10          0.184           181000.0
GOOG    1497345818624  9.584100e+10          0.230           163906.0
GOOGL   1491116228608  9.584100e+10          0.230           163906.0
AMZN    1167926362112  5.544900e+10          0.073          1622000.0
...               ...           ...            ...                ...
PENN       5471911936  1.450800e+09          0.531            21973.0
IPGP       5464162304  4.490930e+08          0.083             6580.0
PVH        4951614976  1.275100e+09          0.163            19000.0
UA         4841731072  6.659670e+08          0.089             7100.0
UAA        4524742656  6.659670e+08          0.089             7100.0

[496 rows x 4 columns]

In [459]:
sp500df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 496 entries, AAPL to UAA
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Marketcap          496 non-null    int64
 1   Ebitda             466 non-null    float64
 2   Revenuegrowth      495 non-null    float64
 3   Fulltimeemployees  494 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 19.4+ KB

In [460]:
sp500df.isna().sum()

Marketcap             0
Ebitda               30
Revenuegrowth         1
Fulltimeemployees     2
dtype: int64

In [461]:
# nan값이 들어있는 행 제거
sp500df.dropna(axis=0, inplace=True)

C:\Users\LEEDAEWOOK\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [462]:
# 중복 데이터 제거
sp500df.drop(index='GOOG', axis=0, inplace=True)

C:\Users\LEEDAEWOOK\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [463]:
sp500df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 462 entries, AAPL to UAA
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Marketcap          462 non-null    int64
 1   Ebitda             462 non-null    float64
 2   Revenuegrowth      462 non-null    float64
 3   Fulltimeemployees  462 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 18.0+ KB

In [464]:
print("--Average of Features--")
print(sp500df.mean())
print("\n--Variance of Features--")
print(sp500df.var())

--Average of Features--
Marketcap            7.421696e+10
Ebitda               5.921858e+09
Revenuegrowth        5.634459e-01
Fulltimeemployees    5.466136e+04
dtype: float64

--Variance of Features--
Marketcap            3.545990e+22
Ebitda               1.576792e+20
Revenuegrowth        1.566143e+01
Fulltimeemployees    2.214111e+10
dtype: float64

In [465]:
sp500df

            Marketcap        Ebitda  Revenuegrowth  Fulltimeemployees
Symbol
AAPL    2455053795328  1.306340e+11          0.086           154000.0
MSFT    2051480354816  9.498300e+10          0.184           181000.0
GOOGL   1491116228608  9.584100e+10          0.230           163906.0
AMZN    1167926362112  5.544900e+10          0.073          1622000.0
TSLA     762865975296  1.270200e+10          0.805            99290.0
...               ...           ...            ...                ...
PENN       5471911936  1.450800e+09          0.531            21973.0
IPGP       5464162304  4.490930e+08          0.083             6580.0
PVH        4951614976  1.275100e+09          0.163            19000.0
UA         4841731072  6.659670e+08          0.089             7100.0
UAA        4524742656  6.659670e+08          0.089             7100.0

[462 rows x 4 columns]

In [466]:
# 데이터 스케일링
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(sp500df)
sp500df_Mscaled = scaler.transform(sp500df)

In [467]:
# 스케일링결과 반환된 nd_array를 dataframe으로 변환
sp500df_Mscaled = pd.DataFrame(data=sp500df_Mscaled, columns=['Marketcap', 'Ebitda', 'Revenuegrowth', 'Fulltimeemployees'])

# sp500df에 인덱스로 설정해놨던 feature인'Symbol'을 column으로 다시 설정
sp500df.reset_index(inplace=True)
sp500df

# 스케일링된 dataframe 인덱스를 'Symbol'로 설정
sp500df_Mscaled['Symbol'] = sp500df['Symbol']
sp500df_Mscaled.set_index(keys=['Symbol'], inplace=True)
sp500df_Mscaled

        Marketcap    Ebitda  Revenuegrowth  Fulltimeemployees
Symbol
AAPL     1.000000  1.000000       0.008727           0.066892
MSFT     0.835312  0.735222       0.010311           0.078632
GOOGL    0.606641  0.741595       0.011054           0.071199
AMZN     0.474755  0.441606       0.008517           0.705197
TSLA     0.309460  0.124126       0.020347           0.043103
...           ...       ...            ...                ...
PENN     0.000387  0.040564       0.015919           0.009485
IPGP     0.000383  0.033125       0.008679           0.002791
PVH      0.000174  0.039260       0.009971           0.008192
UA       0.000129  0.034736       0.008775           0.003018
UAA      0.000000  0.034736       0.008775           0.003018

[462 rows x 4 columns]

In [468]:
print("--Average of Features--")
print(sp500df_Mscaled.mean())
print("\n--Variance of Features--")
print(sp500df_Mscaled.var())

--Average of Features--
Marketcap            0.028440
Ebitda               0.073771
Revenuegrowth        0.016443
Fulltimeemployees    0.023698
dtype: float64

--Variance of Features--
Marketcap            0.005905
Ebitda               0.008697
Revenuegrowth        0.004090
Fulltimeemployees    0.004186
dtype: float64

In [469]:
# KMeans 객체 생성
kmeans = KMeans(n_clusters=3, init='k-means++', max_iter=300, random_state=0)

# 군집화 수행
kmeans.fit(sp500df_Mscaled)

KMeans(n_clusters=3, random_state=0)

In [470]:
print(kmeans.labels_)

[0 0 0 0 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1]

In [471]:
sp500df_Mscaled['cluster'] = kmeans.labels_

In [472]:
sp500df_Mscaled.head(20)

        Marketcap    Ebitda  Revenuegrowth  Fulltimeemployees  cluster
Symbol
AAPL     1.000000  1.000000       0.008727           0.066892        0
MSFT     0.835312  0.735222       0.010311           0.078632        0
GOOGL    0.606641  0.741595       0.011054           0.071199        0
AMZN     0.474755  0.441606       0.008517           0.705197        0
TSLA     0.309460  0.124126       0.020347           0.043103        1
BRK-B    0.289753  0.962472       0.009196           0.161681        0
FB       0.219659  0.416362       0.008404           0.033761        1
UNH      0.193059  0.225794       0.009632           0.152115        1
JNJ      0.192698  0.270504       0.008145           0.062543        1
NVDA     0.189447  0.113083       0.015870           0.009702        1
XOM      0.167831  0.430064       0.015822           0.027324        1
PG       0.145018  0.189194       0.008468           0.043847        1
WMT      0.143587  0.301615       0.007418           1.000000        0
MA       0.141608  0.117502       0.011280           0.010366        1
CVX      0.138396  0.315831       0.018375           0.018451        1
HD       0.129597  0.224108       0.009066           0.213250        1
LLY      0.124428  0.109417       0.009729           0.015149        1
PFE      0.121633  0.267073       0.024597           0.034281        1
KO       0.112162  0.128724       0.009971           0.034281        1
ABBV     0.106321  0.241041       0.008000           0.021671        1

In [473]:
# sp500df에 정규화를 실시하기 위해서 'Symbol' column을 다시 index로 설정
sp500df.set_index(keys=['Symbol'], inplace=True)
sp500df

            Marketcap        Ebitda  Revenuegrowth  Fulltimeemployees
Symbol
AAPL    2455053795328  1.306340e+11          0.086           154000.0
MSFT    2051480354816  9.498300e+10          0.184           181000.0
GOOGL   1491116228608  9.584100e+10          0.230           163906.0
AMZN    1167926362112  5.544900e+10          0.073          1622000.0
TSLA     762865975296  1.270200e+10          0.805            99290.0
...               ...           ...            ...                ...
PENN       5471911936  1.450800e+09          0.531            21973.0
IPGP       5464162304  4.490930e+08          0.083             6580.0
PVH        4951614976  1.275100e+09          0.163            19000.0
UA         4841731072  6.659670e+08          0.089             7100.0
UAA        4524742656  6.659670e+08          0.089             7100.0

[462 rows x 4 columns]

In [474]:
# 데이터 정규화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(sp500df)
sp500df_scaled = scaler.transform(sp500df)

In [475]:
# 정규화 결과 반환된 nd_array를 dataframe으로 변환
sp500df_scaled = pd.DataFrame(data=sp500df_scaled, columns=['Marketcap', 'Ebitda', 'Revenuegrowth', 'Fulltimeemployees'])

# sp500df에 인덱스로 설정해놨던 feature인'Symbol'을 column으로 다시 설정
sp500df.reset_index(inplace=True)
sp500df

# 정규화된 dataframe 인덱스를 'Symbol'로 설정
sp500df_scaled['Symbol'] = sp500df['Symbol']
sp500df_scaled.set_index(keys=['Symbol'], inplace=True)
sp500df_scaled

        Marketcap    Ebitda  Revenuegrowth  Fulltimeemployees
Symbol
AAPL    12.657019  9.942419      -0.120776           0.668327
MSFT    10.511539  7.100216      -0.095985           0.849977
GOOGL    7.532528  7.168619      -0.084349           0.734972
AMZN     5.814384  3.948450      -0.124064          10.544687
TSLA     3.661000  0.540533       0.061104           0.300251
...           ...       ...            ...                ...
PENN    -0.365463 -0.356446      -0.008208          -0.219920
IPGP    -0.365504 -0.436305      -0.121534          -0.323480
PVH     -0.368229 -0.370453      -0.101297          -0.239921
UA      -0.368813 -0.419015      -0.120017          -0.319982
UAA     -0.370498 -0.419015      -0.120017          -0.319982

[462 rows x 4 columns]

In [476]:
print("--Average of Features--")
print(sp500df_scaled.mean())
print("\n--Variance of Features--")
print(sp500df_scaled.var())

--Average of Features--
Marketcap            7.197225e-17
Ebitda              -7.689856e-17
Revenuegrowth       -5.935608e-17
Fulltimeemployees    4.974376e-17
dtype: float64

--Variance of Features--
Marketcap            1.002169
Ebitda               1.002169
Revenuegrowth        1.002169
Fulltimeemployees    1.002169
dtype: float64

In [477]:
# 군집화 객체 생성
kmeans = KMeans(n_clusters=3, init='k-means++', max_iter=300, random_state=0)
# 정규화된 데이터에 군집화 수행
kmeans.fit(sp500df_scaled)

KMeans(n_clusters=3, random_state=0)

In [478]:
print(kmeans.labels_)

[2 2 2 2 0 2 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]

In [479]:
sp500df_scaled['cluster'] = kmeans.labels_

In [480]:
sp500df_scaled.head(20)

        Marketcap    Ebitda  Revenuegrowth  Fulltimeemployees  cluster
Symbol
AAPL    12.657019  9.942419      -0.120776           0.668327        2
MSFT    10.511539  7.100216      -0.095985           0.849977        2
GOOGL    7.532528  7.168619      -0.084349           0.734972        2
AMZN     5.814384  3.948450      -0.124064          10.544687        2
TSLA     3.661000  0.540533       0.061104           0.300251        0
BRK-B    3.404266  9.539579      -0.113440           2.134980        2
FB       2.491110  3.677471      -0.125835           0.155705        0
UNH      2.144584  1.631860      -0.106610           1.986969        0
JNJ      2.139882  2.111792      -0.129882           0.601049        0
NVDA     2.097526  0.421985      -0.008966          -0.216556        0
XOM      1.815924  3.824560      -0.009725           0.056100        0
PG       1.518723  1.238985      -0.124823           0.311755        0
WMT      1.500080  2.445752      -0.141265          15.106112        2
MA       1.474302  0.469420      -0.080808          -0.206282        0
CVX      1.432460  2.598341       0.030243          -0.081180        0
HD       1.317831  1.613763      -0.115463           2.932893        0
LLY      1.250486  0.382634      -0.105092          -0.132277        0
PFE      1.214077  2.074960       0.127633           0.163745        0
KO       1.090689  0.589881      -0.101297           0.163745        0
ABBV     1.014595  1.795531      -0.132159          -0.031361        0

In [481]:
# 추후 sp500df를 다시 사용할 때를 대비하여 'Symbol' column을 다시 index로 설정
sp500df.set_index(keys=['Symbol'], inplace=True)
sp500df

            Marketcap        Ebitda  Revenuegrowth  Fulltimeemployees
Symbol
AAPL    2455053795328  1.306340e+11          0.086           154000.0
MSFT    2051480354816  9.498300e+10          0.184           181000.0
GOOGL   1491116228608  9.584100e+10          0.230           163906.0
AMZN    1167926362112  5.544900e+10          0.073          1622000.0
TSLA     762865975296  1.270200e+10          0.805            99290.0
...               ...           ...            ...                ...
PENN       5471911936  1.450800e+09          0.531            21973.0
IPGP       5464162304  4.490930e+08          0.083             6580.0
PVH        4951614976  1.275100e+09          0.163            19000.0
UA         4841731072  6.659670e+08          0.089             7100.0
UAA        4524742656  6.659670e+08          0.089             7100.0

[462 rows x 4 columns]

In [482]:
# outlier 제거
sp500df_Mscaled.drop(index=['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'BRK-B', 'WMT'], axis=0, inplace=True)
sp500df_scaled.drop(index=['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'BRK-B', 'WMT'], axis=0, inplace=True)

In [483]:
kmeans = KMeans(n_clusters=3, init='k-means++', max_iter=300, random_state=0)
kmeans.fit(sp500df_scaled)

KMeans(n_clusters=3, random_state=0)

In [421]:
print(kmeans.labels_)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 2 0 0 2 0 0 2 2
 0 0 0 2 0 0 2 2 2 0 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 0 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 0 2 2 2 2 0 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 2 2 2 2 2 2 2 2 2
 0 2 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 1 2 2 2 2 2 2]