Title: 분류알고리즘을 활용한 투자의사결정 모델

Member: 이대욱, 경영학부, leehan02@hanyang.ac.kr

1. proposal(option A)

- motivation: 평소 금융과 주식 데이터에 관심이 많았고, 전공과 관련된 딥러닝 프로젝트를 해보고 싶어서 sp500주식 데이터를 바탕으로 딥러닝 프로젝트를 수행하였습니다.

- what do you want to see at the end?
비지도학습 알고리즘을 활용하여 주식데이터를 5가지의 투자적합도로 분류한 label을 붙인 뒤, 지도학습 알고리즘을 활용하여 예측한 label값이 비지도학습 알고리즘을 활용하여 분류한 label값과 같은지를 확인하고 싶습니다. 

2. datasets

- Describing your dataset 
제가 사용한 데이터셋은 kaggle에서 찾은 sp500에 리스트 되어있는 500개의 회사에 대한 금융데이터입니다. 

3. Methodology 

- Explaining your choice of algorithms (methods)
저는 먼저 비지도학습 알고리즘인 k-kluster(군집화)를 활용하여 sp500 dataset을 5개의 군집으로 분류한 label값을 만들고, 이후 지도학습 알고리즘 중 분류 알고리즘인 decision tree 알고리즘을 활용하여 학습한 학습 데이터로 테스트 데이터에 적용하여 만든 결과값 (label값)이 기존에 k-kluster알고리즘을 활용하여 붙인 label값과 같은지를 확인하였습니다. 

- Explaining features (if any)
저는 최초에 sp500 dataset에 있던 feature 중에서 current price, marketcap, ebitda, revenuegrowth, fulltimeemployees의 5개 feature를 사용하였습니다. 이후 current price와 marketcap, ebitda feature를 이용하여 price earnings ratio라는 feature를 추가적으로 만들었고, 이 feature를 만들기 위한 용도 뿐인 current price feature는 이후 삭제하였습니다. 

4. Evaluation & Analysis

- Graphs, tables, any statistics (if any)
저는 pandas 라이브러리를 사용하여 dataset인 sp500 csv 파일을 다루었으며, 이 과정에서 pandas의 dataframe을 사용하여 주로 table형태로 데이터를 표현하고 다루었습니다. decision tree 알고리즘으로 데이터셋을 학습하고 예측한 결과를 시각화하기 위해서 graphviz를 활용하여 나타내고자 했으나, 계속 발생되는 input 데이터 입력 오류를 결국 해결하지 못하여 시각화하지 못하였고, 추후 기회가 된다면 개인적으로라도 이 부분에 대한 추가 작업을 하고싶습니다. 

5. Related Work (e.g., existing studies)

- Tools, libraries, blogs, or any documentation that you have used to do this project
저는 이번 딥러닝 프로젝트를 수행하면서 pandas와 numpy, sklearn과 그 하위 라이브러리들을 사용하였습니다. 또한, 파이썬 공식 레퍼런스 사이트(https://docs.python.org)로부터 필요한 지식을 많이 배웠고, 인프런이라는 인터넷 강의사이트에서 머신러닝 완벽 가이드라는 강의에서 프로젝트 수행에 관한 많은 스킬들을 배울 수 있었습니다. 또한, 구글링을 통해서 일일이 언급하기 힘들만큼 많은 블로그를 참고하였습니다. 

6. Conclusion: Discussion

위에서 언급했듯이, 저는 비지도학습 알고리즘을 활용하여 label 데이터를 만들고, 이를 지도학습 알고리즘의 예측값과 비교하여 검증한 뒤, 투자적합도에 따라 5개의 그룹으로 분리된 주식데이터를 통해 투자의사결정을 할 수 있는 모델을 만드는 것이 목표였습니다. 하지만, 프로젝트 수행 과정에서 예측하지 못했던 많은 어려움들과 에러들이 발생하였고, 최초에 가정했던 부분에서도 미흡한 부분이 있었다는 것을 추후에 깨달았습니다. 

군집화 알고리즘을 활용하여 비슷한 데이터끼리 군집화 할 수 있었으나, 이러한 군집화로 이루어진 군집이 투자적합도에 분류되었다고 단정할 수 없다는 문제가 있었습니다. 또한, 데이터 전처리 과정에서 이상치 데이터와 nan값을 가진 데이터 등을 제거하였으나, 여전히 지나치게 편중되게 군집화가 되는 것을 완벽히 방지하지 못하였습니다. 

하지만, 제 선에서 해결할 수 있는 부분은 최대한 해결할 수 있도록 노력하였고, 최초 목표했던 바에는 미치지 못하는 결과물이지만, 프로젝트에 착수하기 이전보다 파이썬과 머신러닝에 대해서 많이 알게 되었기에 이번 프로젝트가 저에게 매우 값진 경험이 되었다고 확실히 말할 수 있을 것 같습니다.

In [3]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [4]:
sp500df = pd.read_csv(r'C:\Users\LEEDAEWOOK\Desktop\DL_final\sp500_companies.csv', encoding='utf-8')
sp500df.head()

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,149.64,2455053795328,1.306340e+11,0.086,Cupertino,CA,United States,154000.0,"Apple Inc. designs, manufactures, and markets ...",0.064327
1,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software—Infrastructure,273.24,2051480354816,9.498300e+10,0.184,Redmond,WA,United States,181000.0,"Microsoft Corporation develops, licenses, and ...",0.053753
2,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,2255.98,1497345818624,9.584100e+10,0.230,Mountain View,CA,United States,163906.0,Alphabet Inc. provides various products and pl...,0.039234
3,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,2246.33,1491116228608,9.584100e+10,0.230,Mountain View,CA,United States,163906.0,Alphabet Inc. provides various products and pl...,0.039070
4,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,2302.93,1167926362112,5.544900e+10,0.073,Seattle,WA,United States,1622000.0,"Amazon.com, Inc. engages in the retail sale of...",0.030602

In [5]:
# 불필요한 feature 제거

sp500df = sp500df.iloc[:, [1, 6, 7, 8, 9, 13]] # Symbol(Ticker), 시가총액, EBITDA, 이익성장률, 임직원수

In [6]:
sp500df.set_index(keys=['Symbol'], inplace=True)

In [7]:
sp500df

# currentprice column은 feature engineering을 위해 남겨둠. 
# 새로운 feature 생성을 위해 사용한 후 삭제할 예정.

,Currentprice,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees
Symbol,,,,,
AAPL,149.64,2455053795328,1.306340e+11,0.086,154000.0
MSFT,273.24,2051480354816,9.498300e+10,0.184,181000.0
GOOG,2255.98,1497345818624,9.584100e+10,0.230,163906.0
GOOGL,2246.33,1491116228608,9.584100e+10,0.230,163906.0
AMZN,2302.93,1167926362112,5.544900e+10,0.073,1622000.0
...,...,...,...,...,...
PENN,32.28,5471911936,1.450800e+09,0.531,21973.0
IPGP,102.50,5464162304,4.490930e+08,0.083,6580.0
PVH,70.76,4951614976,1.275100e+09,0.163,19000.0
UA,9.38,4841731072,6.659670e+08,0.089,7100.0
UAA,10.34,4524742656,6.659670e+08,0.089,7100.0

In [8]:
sp500df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 496 entries, AAPL to UAA
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Currentprice       496 non-null    float64
 1   Marketcap          496 non-null    int64
 2   Ebitda             466 non-null    float64
 3   Revenuegrowth      495 non-null    float64
 4   Fulltimeemployees  494 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 23.2+ KB

In [9]:
sp500df.isna().sum()

Currentprice          0
Marketcap             0
Ebitda               30
Revenuegrowth         1
Fulltimeemployees     2
dtype: int64

In [10]:
# nan값이 들어있는 행 제거
sp500df.dropna(axis=0, inplace=True)

In [11]:
# 중복 데이터 제거
sp500df.drop(index='GOOG', axis=0, inplace=True)

In [12]:
sp500df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 462 entries, AAPL to UAA
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Currentprice       462 non-null    float64
 1   Marketcap          462 non-null    int64
 2   Ebitda             462 non-null    float64
 3   Revenuegrowth      462 non-null    float64
 4   Fulltimeemployees  462 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 21.7+ KB

In [13]:
print("--Average of Features--")
print(sp500df.mean())
print("\n--Variance of Features--")
print(sp500df.var())

--Average of Features--
Currentprice         1.872282e+02
Marketcap            7.421696e+10
Ebitda               5.921858e+09
Revenuegrowth        5.634459e-01
Fulltimeemployees    5.466136e+04
dtype: float64

--Variance of Features--
Currentprice         9.909758e+04
Marketcap            3.545990e+22
Ebitda               1.576792e+20
Revenuegrowth        1.566143e+01
Fulltimeemployees    2.214111e+10
dtype: float64

In [14]:
sp500df

,Currentprice,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees
Symbol,,,,,
AAPL,149.64,2455053795328,1.306340e+11,0.086,154000.0
MSFT,273.24,2051480354816,9.498300e+10,0.184,181000.0
GOOGL,2246.33,1491116228608,9.584100e+10,0.230,163906.0
AMZN,2302.93,1167926362112,5.544900e+10,0.073,1622000.0
TSLA,759.63,762865975296,1.270200e+10,0.805,99290.0
...,...,...,...,...,...
PENN,32.28,5471911936,1.450800e+09,0.531,21973.0
IPGP,102.50,5464162304,4.490930e+08,0.083,6580.0
PVH,70.76,4951614976,1.275100e+09,0.163,19000.0
UA,9.38,4841731072,6.659670e+08,0.089,7100.0
UAA,10.34,4524742656,6.659670e+08,0.089,7100.0

In [15]:
# feature engineering

# current price, market cap, ebitda feature들을 사용하여 
# 새로운 feature인 PER(Price Earnings Ratio, 주가수익비율) column을 생성

sp500df['Price Earnings Ratio'] = sp500df.iloc[:, 0] / (sp500df.iloc[:, 2] / (sp500df.iloc[:, 1] / sp500df.iloc[:, 0])) 
sp500df

,Currentprice,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio
Symbol,,,,,,
AAPL,149.64,2455053795328,1.306340e+11,0.086,154000.0,18.793376
MSFT,273.24,2051480354816,9.498300e+10,0.184,181000.0,21.598396
GOOGL,2246.33,1491116228608,9.584100e+10,0.230,163906.0,15.558229
AMZN,2302.93,1167926362112,5.544900e+10,0.073,1622000.0,21.063073
TSLA,759.63,762865975296,1.270200e+10,0.805,99290.0,60.058728
...,...,...,...,...,...,...
PENN,32.28,5471911936,1.450800e+09,0.531,21973.0,3.771651
IPGP,102.50,5464162304,4.490930e+08,0.083,6580.0,12.167107
PVH,70.76,4951614976,1.275100e+09,0.163,19000.0,3.883315
UA,9.38,4841731072,6.659670e+08,0.089,7100.0,7.270227
UAA,10.34,4524742656,6.659670e+08,0.089,7100.0,6.794245

In [16]:
# feature engineering 을 위해서 남겨둔 Currentprice column 삭제

sp500df.drop(columns='Currentprice', axis=1, inplace=True)

In [17]:
# ebitda feature의 값이 minus인 index 변수 생성

minus_ebitda_index = sp500df[sp500df['Ebitda'] < 0].index
minus_ebitda_index

Index(['LYV', 'CCL', 'UAL', 'RCL', 'AAL', 'NCLH'], dtype='object', name='Symbol')

In [18]:
# ebitda feature의 값이 minus인 index 삭제

sp500df.drop(index=minus_ebitda_index, axis=0, inplace=True)

In [19]:
sp500df

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio
Symbol,,,,,
AAPL,2455053795328,1.306340e+11,0.086,154000.0,18.793376
MSFT,2051480354816,9.498300e+10,0.184,181000.0,21.598396
GOOGL,1491116228608,9.584100e+10,0.230,163906.0,15.558229
AMZN,1167926362112,5.544900e+10,0.073,1622000.0,21.063073
TSLA,762865975296,1.270200e+10,0.805,99290.0,60.058728
...,...,...,...,...,...
PENN,5471911936,1.450800e+09,0.531,21973.0,3.771651
IPGP,5464162304,4.490930e+08,0.083,6580.0,12.167107
PVH,4951614976,1.275100e+09,0.163,19000.0,3.883315
UA,4841731072,6.659670e+08,0.089,7100.0,7.270227
UAA,4524742656,6.659670e+08,0.089,7100.0,6.794245

In [20]:
# 데이터 스케일링
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(sp500df)
sp500df_Mscaled = scaler.transform(sp500df)

In [21]:
# 스케일링결과 반환된 nd_array를 dataframe으로 변환
sp500df_Mscaled = pd.DataFrame(data=sp500df_Mscaled, columns=['Marketcap', 'Ebitda', 'Revenuegrowth', 'Fulltimeemployees', 'Price Earnings Ratio'])

# sp500df에 인덱스로 설정해놨던 feature인'Symbol'을 column으로 다시 설정
sp500df.reset_index(inplace=True)
sp500df

# 스케일링된 dataframe 인덱스를 'Symbol'로 설정
sp500df_Mscaled['Symbol'] = sp500df['Symbol']
sp500df_Mscaled.set_index(keys=['Symbol'], inplace=True)
sp500df_Mscaled

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio
Symbol,,,,,
AAPL,1.000000,1.000000,0.044691,0.066892,0.011520
MSFT,0.835312,0.727069,0.052801,0.078632,0.013399
GOOGL,0.606641,0.733638,0.056608,0.071199,0.009353
AMZN,0.474755,0.424412,0.043615,0.705197,0.013040
TSLA,0.309460,0.097157,0.104196,0.043103,0.039162
...,...,...,...,...,...
PENN,0.000387,0.011022,0.081519,0.009485,0.001457
IPGP,0.000383,0.003353,0.044443,0.002791,0.007081
PVH,0.000174,0.009677,0.051063,0.008192,0.001532
UA,0.000129,0.005013,0.044939,0.003018,0.003801
UAA,0.000000,0.005013,0.044939,0.003018,0.003482

In [22]:
print("--Average of Features--")
print(sp500df_Mscaled.mean())
print("\n--Variance of Features--")
print(sp500df_Mscaled.var())

--Average of Features--
Marketcap               0.028761
Ebitda                  0.046013
Revenuegrowth           0.057224
Fulltimeemployees       0.023644
Price Earnings Ratio    0.012794
dtype: float64

--Variance of Features--
Marketcap               0.005975
Ebitda                  0.009317
Revenuegrowth           0.002965
Fulltimeemployees       0.004237
Price Earnings Ratio    0.002823
dtype: float64

In [23]:
# KMeans 객체 생성
kmeans = KMeans(n_clusters=5, init='k-means++', max_iter=300, random_state=0)

# 군집화 수행
kmeans.fit(sp500df_Mscaled)

KMeans(n_clusters=5, random_state=0)

In [24]:
print(kmeans.labels_)

[0 0 0 4 2 0 2 2 2 2 2 2 4 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 2 2 2 2 1 2 1 2
 2 1 2 2 1 1 2 2 2 1 2 2 1 1 1 2 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1
 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 2 1 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1
 1 1 1 1 1 1 1 2 1 1 1 1 1 2 1 1 1 1 2 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 2 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 3
 1 1 1 1 1 1 1 1 1 1 1 1]

In [25]:
sp500df_Mscaled['cluster'] = kmeans.labels_

In [26]:
sp500df_Mscaled.head(20)

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio,cluster
Symbol,,,,,,
AAPL,1.000000,1.000000,0.044691,0.066892,0.011520,0
MSFT,0.835312,0.727069,0.052801,0.078632,0.013399,0
GOOGL,0.606641,0.733638,0.056608,0.071199,0.009353,0
AMZN,0.474755,0.424412,0.043615,0.705197,0.013040,4
TSLA,0.309460,0.097157,0.104196,0.043103,0.039162,2
BRK-B,0.289753,0.961316,0.047091,0.161681,0.002742,0
FB,0.219659,0.398390,0.043036,0.033761,0.005916,2
UNH,0.193059,0.201955,0.049325,0.152115,0.011054,2
JNJ,0.192698,0.248042,0.041711,0.062543,0.008784,2
NVDA,0.189447,0.085773,0.081271,0.009702,0.026930,2
XOM,0.167831,0.412515,0.081023,0.027324,0.004099,2
PG,0.145018,0.164228,0.043367,0.043847,0.010163,2
WMT,0.143587,0.280111,0.037987,1.000000,0.005453,4
MA,0.141608,0.090328,0.057767,0.010366,0.018870,2
CVX,0.138396,0.294764,0.094099,0.018451,0.004908,2
HD,0.129597,0.200217,0.046429,0.213250,0.007177,2
LLY,0.124428,0.081994,0.049822,0.015149,0.018264,2
PFE,0.121633,0.244505,0.125962,0.034281,0.005275,2
KO,0.112162,0.101896,0.051063,0.034281,0.012980,2
ABBV,0.106321,0.217672,0.040967,0.021671,0.005173,2

In [27]:
# sp500df에 정규화를 실시하기 위해서 'Symbol' column을 다시 index로 설정
sp500df.set_index(keys=['Symbol'], inplace=True)
sp500df

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio
Symbol,,,,,
AAPL,2455053795328,1.306340e+11,0.086,154000.0,18.793376
MSFT,2051480354816,9.498300e+10,0.184,181000.0,21.598396
GOOGL,1491116228608,9.584100e+10,0.230,163906.0,15.558229
AMZN,1167926362112,5.544900e+10,0.073,1622000.0,21.063073
TSLA,762865975296,1.270200e+10,0.805,99290.0,60.058728
...,...,...,...,...,...
PENN,5471911936,1.450800e+09,0.531,21973.0,3.771651
IPGP,5464162304,4.490930e+08,0.083,6580.0,12.167107
PVH,4951614976,1.275100e+09,0.163,19000.0,3.883315
UA,4841731072,6.659670e+08,0.089,7100.0,7.270227
UAA,4524742656,6.659670e+08,0.089,7100.0,6.794245

In [28]:
# 데이터 정규화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(sp500df)
sp500df_scaled = scaler.transform(sp500df)

In [29]:
# 정규화 결과 반환된 nd_array를 dataframe으로 변환
sp500df_scaled = pd.DataFrame(data=sp500df_scaled, columns=['Marketcap', 'Ebitda', 'Revenuegrowth', 'Fulltimeemployees', 'Price Earnings Ratio'])

# sp500df에 인덱스로 설정해놨던 feature인'Symbol'을 column으로 다시 설정
sp500df.reset_index(inplace=True)
sp500df

# 정규화된 dataframe 인덱스를 'Symbol'로 설정
sp500df_scaled['Symbol'] = sp500df['Symbol']
sp500df_scaled.set_index(keys=['Symbol'], inplace=True)
sp500df_scaled

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio
Symbol,,,,,
AAPL,12.578811,9.894207,-0.230440,0.665117,-0.024005
MSFT,10.445884,7.063527,-0.081320,0.845670,0.011397
GOOGL,7.484302,7.131652,-0.011325,0.731360,-0.064837
AMZN,5.776210,3.924538,-0.250221,10.481857,0.004641
TSLA,3.635425,0.530438,0.863612,0.299263,0.496815
...,...,...,...,...,...
PENN,-0.367480,-0.362905,0.446685,-0.217767,-0.213599
IPGP,-0.367521,-0.442440,-0.235005,-0.320703,-0.107637
PVH,-0.370230,-0.376855,-0.113275,-0.237648,-0.212189
UA,-0.370811,-0.425220,-0.225875,-0.317225,-0.169442
UAA,-0.372486,-0.425220,-0.225875,-0.317225,-0.175450

In [30]:
print("--Average of Features--")
print(sp500df_scaled.mean())
print("\n--Variance of Features--")
print(sp500df_scaled.var())

--Average of Features--
Marketcap               2.970334e-17
Ebitda                  6.135443e-17
Revenuegrowth          -9.860533e-18
Fulltimeemployees       6.865853e-17
Price Earnings Ratio   -3.974647e-17
dtype: float64

--Variance of Features--
Marketcap               1.002198
Ebitda                  1.002198
Revenuegrowth           1.002198
Fulltimeemployees       1.002198
Price Earnings Ratio    1.002198
dtype: float64

In [31]:
# 군집화 객체 생성
kmeans = KMeans(n_clusters=5, init='k-means++', max_iter=300, random_state=0)
# 정규화된 데이터에 군집화 수행
kmeans.fit(sp500df_scaled)

KMeans(n_clusters=5, random_state=0)

In [32]:
print(kmeans.labels_)

[2 2 2 3 0 2 0 0 0 0 0 0 3 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 4 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0]

In [33]:
sp500df_scaled['cluster'] = kmeans.labels_

In [34]:
sp500df_scaled.describe()

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio,cluster
count,4.560000e+02,4.560000e+02,4.560000e+02,4.560000e+02,4.560000e+02,456.000000
mean,2.970334e-17,6.135443e-17,-9.860533e-18,6.865853e-17,-3.974647e-17,0.043860
std,1.001098e+00,1.001098e+00,1.001098e+00,1.001098e+00,1.001098e+00,0.335198
min,-3.724864e-01,-4.772166e-01,-1.052120e+00,-3.636343e-01,-2.410551e-01,0.000000
25%,-3.050818e-01,-3.742034e-01,-2.791324e-01,-3.033229e-01,-1.566966e-01,0.000000
50%,-2.341190e-01,-2.722541e-01,-1.855521e-01,-2.403232e-01,-1.004955e-01,0.000000
75%,-6.385187e-02,-5.380691e-02,-1.817280e-02,-1.697230e-02,-2.501176e-02,0.000000
max,1.257881e+01,9.894207e+00,1.733374e+01,1.501575e+01,1.860065e+01,4.000000

In [35]:
sp500df_scaled.head(20)

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio,cluster
Symbol,,,,,,
AAPL,12.578811,9.894207,-0.230440,0.665117,-0.024005,2
MSFT,10.445884,7.063527,-0.081320,0.845670,0.011397,2
GOOGL,7.484302,7.131652,-0.011325,0.731360,-0.064837,2
AMZN,5.776210,3.924538,-0.250221,10.481857,0.004641,3
TSLA,3.635425,0.530438,0.863612,0.299263,0.496815,0
BRK-B,3.380193,9.493000,-0.186313,2.122916,-0.189385,2
FB,2.472379,3.654658,-0.260873,0.155590,-0.129580,0
UNH,2.127881,1.617340,-0.145229,1.975799,-0.032783,0
JNJ,2.123207,2.095327,-0.285219,0.598246,-0.075554,0
NVDA,2.081098,0.412370,0.442120,-0.214424,0.266348,0
XOM,1.801144,3.801151,0.437555,0.056586,-0.163829,0
PG,1.505682,1.226058,-0.254786,0.310698,-0.049566,0
WMT,1.487148,2.427932,-0.353692,15.015746,-0.138304,3
MA,1.461521,0.459613,0.009977,-0.204213,0.114486,0
CVX,1.419923,2.579903,0.677973,-0.079865,-0.148579,0
HD,1.305965,1.599317,-0.198486,2.916013,-0.105821,0
LLY,1.239013,0.373178,-0.136099,-0.130654,0.103070,0
PFE,1.202818,2.058644,1.263801,0.163581,-0.141665,0
KO,1.080152,0.579586,-0.113275,0.163581,0.003503,0
ABBV,1.004504,1.780348,-0.298914,-0.030347,-0.143585,0

In [36]:
# 추후 sp500df를 다시 사용할 때를 대비하여 'Symbol' column을 다시 index로 설정
sp500df.set_index(keys=['Symbol'], inplace=True)
sp500df

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio
Symbol,,,,,
AAPL,2455053795328,1.306340e+11,0.086,154000.0,18.793376
MSFT,2051480354816,9.498300e+10,0.184,181000.0,21.598396
GOOGL,1491116228608,9.584100e+10,0.230,163906.0,15.558229
AMZN,1167926362112,5.544900e+10,0.073,1622000.0,21.063073
TSLA,762865975296,1.270200e+10,0.805,99290.0,60.058728
...,...,...,...,...,...
PENN,5471911936,1.450800e+09,0.531,21973.0,3.771651
IPGP,5464162304,4.490930e+08,0.083,6580.0,12.167107
PVH,4951614976,1.275100e+09,0.163,19000.0,3.883315
UA,4841731072,6.659670e+08,0.089,7100.0,7.270227
UAA,4524742656,6.659670e+08,0.089,7100.0,6.794245

In [37]:
# outlier 제거
sp500df_Mscaled.drop(index=['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'BRK-B', 'WMT'], axis=0, inplace=True)
sp500df_scaled.drop(index=['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'BRK-B', 'WMT'], axis=0, inplace=True)

In [38]:
# 정규화된 데이터의 최소값과 최대값 확인
sp500df_scaled.describe()

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio,cluster
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,-0.091450,-0.088744,0.002474,-0.066361,0.000890,0.013333
std,0.427029,0.563146,1.007450,0.500506,1.007698,0.199777
min,-0.372486,-0.477217,-1.052120,-0.363634,-0.241055,0.000000
25%,-0.306203,-0.375466,-0.279132,-0.304326,-0.156761,0.000000
50%,-0.235725,-0.275341,-0.184030,-0.241326,-0.101019,0.000000
75%,-0.080764,-0.070936,-0.016651,-0.030347,-0.026196,0.000000
max,3.635425,3.845694,17.333736,4.309615,18.600655,4.000000

In [39]:
# # 스케일링된 데이터의 최소값과 최대값 확인
sp500df_Mscaled.describe()

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio,cluster
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,0.021699,0.037456,0.057359,0.019329,0.012841,1.113333
std,0.032972,0.054298,0.054795,0.032544,0.053482,0.331091
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.005118,0.009811,0.042043,0.003856,0.004474,1.000000
50%,0.010560,0.019465,0.047215,0.007953,0.007432,1.000000
75%,0.022525,0.039173,0.056319,0.021671,0.011403,1.000000
max,0.309460,0.416810,1.000000,0.303865,1.000000,3.000000

In [40]:
# MinMaxScaler를 적용한 데이터의 각 column에서 값이 0인 index 제거

sp500df_Mscaled.drop(sp500df_Mscaled[sp500df_Mscaled['Marketcap'] == 0].index, axis=0, inplace=True)
sp500df_Mscaled.drop(sp500df_Mscaled[sp500df_Mscaled['Ebitda'] == 0].index, axis=0, inplace=True)
sp500df_Mscaled.drop(sp500df_Mscaled[sp500df_Mscaled['Revenuegrowth'] == 0].index, axis=0, inplace=True)
sp500df_Mscaled.drop(sp500df_Mscaled[sp500df_Mscaled['Fulltimeemployees'] == 0].index, axis=0, inplace=True)
sp500df_Mscaled.drop(sp500df_Mscaled[sp500df_Mscaled['Price Earnings Ratio'] == 0].index, axis=0, inplace=True)

In [41]:
# Standard Scaler를 적용한 데이터의 각 column에서 값이 0인 index 제거

sp500df_scaled.drop(sp500df_scaled[sp500df_scaled['Marketcap'] == 0].index, axis=0, inplace=True)
sp500df_scaled.drop(sp500df_scaled[sp500df_scaled['Ebitda'] == 0].index, axis=0, inplace=True)
sp500df_scaled.drop(sp500df_scaled[sp500df_scaled['Revenuegrowth'] == 0].index, axis=0, inplace=True)
sp500df_scaled.drop(sp500df_scaled[sp500df_scaled['Fulltimeemployees'] == 0].index, axis=0, inplace=True)
sp500df_scaled.drop(sp500df_scaled[sp500df_scaled['Price Earnings Ratio'] == 0].index, axis=0, inplace=True)

In [42]:
# outlier와 zero 값 제거 후 군집화 재실행
kmeans_scaled = KMeans(n_clusters=5, init='k-means++', max_iter=300, random_state=0)
kmeans_scaled.fit(sp500df_scaled)

KMeans(n_clusters=5, random_state=0)

In [43]:
# 정규화된 데이터에 대한 군집화 결과 확인 
print(kmeans_scaled.labels_)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 4 0 0 0 0 0 0 0 4 0 0 4 0 0 4 4
 0 0 0 4 3 0 4 4 4 0 4 4 0 4 4 4 4 4 4 4 4 4 4 4 4 4 3 0 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 0 3 2 0 4 3 4 4 4 4 4 4 4 4 3 4 4 0 4 4 3 4 4 4 4 3 4 4
 4 1 4 4 4 4 4 0 4 4 4 3 0 4 4 4 0 3 4 4 4 4 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 0 3 4 4 4 4 4 4 4 4
 0 4 4 4 4 4 0 4 4 4 4 4 4 4 4 4 4 4 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 3 4 4 4 4 4 3 4 4 4 4 4 4 4 3 4 3 3 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 3 4 4 4 4
 4 4 4 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 3
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 3
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 2 4 4 4 4 4 4
 3 4 4 4 4 4]

In [44]:
sp500df_scaled['cluster'] = kmeans_scaled.labels_
sp500df_scaled

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio,cluster
Symbol,,,,,,
TSLA,3.635425,0.530438,0.863612,0.299263,0.496815,0
FB,2.472379,3.654658,-0.260873,0.155590,-0.129580,0
UNH,2.127881,1.617340,-0.145229,1.975799,-0.032783,0
JNJ,2.123207,2.095327,-0.285219,0.598246,-0.075554,0
NVDA,2.081098,0.412370,0.442120,-0.214424,0.266348,0
...,...,...,...,...,...,...
PENN,-0.367480,-0.362905,0.446685,-0.217767,-0.213599,4
IPGP,-0.367521,-0.442440,-0.235005,-0.320703,-0.107637,4
PVH,-0.370230,-0.376855,-0.113275,-0.237648,-0.212189,4
UA,-0.370811,-0.425220,-0.225875,-0.317225,-0.169442,4
UAA,-0.372486,-0.425220,-0.225875,-0.317225,-0.175450,4

In [45]:
# # outlier와 zero 값 제거 후 군집화 재실행
kmeans_Mscaled = KMeans(n_clusters=5, init='k-means++', max_iter=300, random_state=0)
kmeans_Mscaled.fit(sp500df_Mscaled)

KMeans(n_clusters=5, random_state=0)

In [46]:
# 스케일링된 데이터에 대한 군집화 결과 확인
print(kmeans_Mscaled.labels_)

[2 0 0 0 2 0 2 2 0 2 2 0 2 0 2 2 2 2 0 2 2 1 0 2 2 2 2 1 2 1 0 2 1 2 2 1 1
 2 2 0 1 2 2 1 1 1 2 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1
 1 1 1 2 1 1 1 1 1 2 1 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1
 1 4 1 1 1 1 1 2 1 1 1 1 2 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1]

In [47]:
sp500df_Mscaled['cluster'] = kmeans_Mscaled.labels_
sp500df_Mscaled

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio,cluster
Symbol,,,,,,
TSLA,0.309460,0.097157,0.104196,0.043103,0.039162,2
FB,0.219659,0.398390,0.043036,0.033761,0.005916,0
UNH,0.193059,0.201955,0.049325,0.152115,0.011054,0
JNJ,0.192698,0.248042,0.041711,0.062543,0.008784,0
NVDA,0.189447,0.085773,0.081271,0.009702,0.026930,2
...,...,...,...,...,...,...
ALK,0.000630,0.003536,0.129355,0.007383,0.007525,1
PENN,0.000387,0.011022,0.081519,0.009485,0.001457,1
IPGP,0.000383,0.003353,0.044443,0.002791,0.007081,1
PVH,0.000174,0.009677,0.051063,0.008192,0.001532,1
UA,0.000129,0.005013,0.044939,0.003018,0.003801,1

In [48]:
# sp500df_Mscaled 데이터셋에 대한 label data 분리

sp500df_Mscaled_label = sp500df_Mscaled['cluster']

In [49]:
sp500df_Mscaled_label

Symbol
TSLA    2
FB      0
UNH     0
JNJ     0
NVDA    2
       ..
ALK     1
PENN    1
IPGP    1
PVH     1
UA      1
Name: cluster, Length: 445, dtype: int32

In [50]:
# sp500df_Mscaled 데이터셋에서 cluster column (라벨 데이터) 삭제

sp500df_Mscaled.drop(columns='cluster', axis=1, inplace=True)

In [51]:
sp500df_Mscaled

,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Price Earnings Ratio
Symbol,,,,,
TSLA,0.309460,0.097157,0.104196,0.043103,0.039162
FB,0.219659,0.398390,0.043036,0.033761,0.005916
UNH,0.193059,0.201955,0.049325,0.152115,0.011054
JNJ,0.192698,0.248042,0.041711,0.062543,0.008784
NVDA,0.189447,0.085773,0.081271,0.009702,0.026930
...,...,...,...,...,...
ALK,0.000630,0.003536,0.129355,0.007383,0.007525
PENN,0.000387,0.011022,0.081519,0.009485,0.001457
IPGP,0.000383,0.003353,0.044443,0.002791,0.007081
PVH,0.000174,0.009677,0.051063,0.008192,0.001532
UA,0.000129,0.005013,0.044939,0.003018,0.003801

In [52]:
# 분류 알고리즘인 DecisionTree (결정트리) import
# 데이터를 학습 데이터와 테스트 데이터로 나누기 위해서 train_test_split import

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [133]:
# feature data 와 label data를 각각 학습 데이터와 테스트 데이터로 분류

X_train, X_test, y_train, y_test = train_test_split(sp500df_Mscaled, 
                                                    sp500df_Mscaled_label, test_size=0.2, random_state=150)

In [134]:
# DecisionTreeClassifier 객체 생성
# 학습 데이터에 대한 overfitting을 방지하기 위해서 max_depth 파라미터를 5로 설정

tree = DecisionTreeClassifier(max_depth = 5, random_state=0)

# DecisionTreeClassifier로 데이터 학습 

tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5, random_state=0)

In [135]:
# DecisionTreeClassifier 학습 결과에 대한 정확도 확인

print("학습 데이터 정확도: {:.5f}".format(tree.score(X_train, y_train)))
print("테스트 데이터 정확도: {:.5f}".format(tree.score(X_test, y_test)))

학습 데이터 정확도: 0.99719
테스트 데이터 정확도: 0.97753

In [160]:
# 실제값과 예측값 비교를 위해서 실제값과 예측값을 담은 dataframe 생성

compare_list = []
index_list = []

for index1 in sp500df_Mscaled_label.index:
    for index2 in y_test.index:
        if index1 == index2:
            compare_list.append(sp500df_Mscaled_label.loc[index1])
            index_list.append(index1)
            
compare_df = pd.DataFrame(compare_list, columns=['실제값'], index=index_list)
compare_df['예측값'] = y_test
compare_df

      실제값  예측값
TSLA    2    2
KO      2    2
TMUS    2    2
PM      2    2
CRM     1    1
AMT     1    1
AMAT    1    1
PYPL    1    1
CB      1    1
EL      1    1
NFLX    1    1
ZTS     1    1
SO      1    1
NOC     1    1
BDX     1    1
PGR     1    1
VRTX    1    1
FISV    1    1
GD      1    1
EQIX    1    1
ATVI    1    1
PSA     1    1
BSX     1    1
NSC     1    1
MCO     1    1
KLAC    1    1
APD     1    1
F       2    2
DG      1    1
CNC     1    1
EXC     1    1
ECL     1    1
WMB     1    1
KMB     1    1
GIS     1    1
MCHP    1    1
PRU     1    1
NUE     1    1
GPN     1    1
HES     1    1
DLTR    1    1
DD      1    1
PH      1    1
ABC     1    1
OTIS    1    1
BF-B    1    1
APTV    1    1
CPRT    1    1
AWK     1    1
DHI     1    1
HRL     1    1
ENPH    1    1
AEE     1    1
MKC     1    1
HIG     1    1
LEN     1    1
K       1    1
CDW     1    1
ANSS    1    1
FTV     1    1
MLM     1    1
DRE     1    1
GRMN    1    1
FLT     1    1
STX     1    1
SWK     1    1
FOX     1    1
EPAM    1    1
ZBRA    1    1
J       1    1
CTLT    1    1
TER     1    1
COO     1    1
TRMB    1    1
BRO     1    1
MGM     1    1
PEAK    1    1
AES     1    1
CPT     1    1
SEDG    1    1
BEN     1    1
WRK     1    1
QRVO    1    1
TAP     1    1
CZR     1    1
JNPR    1    1
UHS     1    1
MHK     1    1
TPR     1    1

In [161]:
# 실제값과 예측값 비교를 위해 compare column 생성

compare_df['compare'] = 0

In [162]:
# 실제값과 예측값 비교 

for index in compare_df.index:
    if compare_df.loc[index, '실제값'] == compare_df.loc[index, '예측값']:
        compare_df.loc[index, 'compare'] = 'correct'
    else:
        compare_df.loc[index, 'compare'] = 'wrong'

pd.set_option('display.max_rows', None)
compare_df

      실제값  예측값  compare
TSLA    2    2  correct
KO      2    2  correct
TMUS    2    2  correct
PM      2    2  correct
CRM     1    1  correct
AMT     1    1  correct
AMAT    1    1  correct
PYPL    1    1  correct
CB      1    1  correct
EL      1    1  correct
NFLX    1    1  correct
ZTS     1    1  correct
SO      1    1  correct
NOC     1    1  correct
BDX     1    1  correct
PGR     1    1  correct
VRTX    1    1  correct
FISV    1    1  correct
GD      1    1  correct
EQIX    1    1  correct
ATVI    1    1  correct
PSA     1    1  correct
BSX     1    1  correct
NSC     1    1  correct
MCO     1    1  correct
KLAC    1    1  correct
APD     1    1  correct
F       2    2  correct
DG      1    1  correct
CNC     1    1  correct
EXC     1    1  correct
ECL     1    1  correct
WMB     1    1  correct
KMB     1    1  correct
GIS     1    1  correct
MCHP    1    1  correct
PRU     1    1  correct
NUE     1    1  correct
GPN     1    1  correct
HES     1    1  correct
DLTR    1    1  correct
DD      1    1  correct
PH      1    1  correct
ABC     1    1  correct
OTIS    1    1  correct
BF-B    1    1  correct
APTV    1    1  correct
CPRT    1    1  correct
AWK     1    1  correct
DHI     1    1  correct
HRL     1    1  correct
ENPH    1    1  correct
AEE     1    1  correct
MKC     1    1  correct
HIG     1    1  correct
LEN     1    1  correct
K       1    1  correct
CDW     1    1  correct
ANSS    1    1  correct
FTV     1    1  correct
MLM     1    1  correct
DRE     1    1  correct
GRMN    1    1  correct
FLT     1    1  correct
STX     1    1  correct
SWK     1    1  correct
FOX     1    1  correct
EPAM    1    1  correct
ZBRA    1    1  correct
J       1    1  correct
CTLT    1    1  correct
TER     1    1  correct
COO     1    1  correct
TRMB    1    1  correct
BRO     1    1  correct
MGM     1    1  correct
PEAK    1    1  correct
AES     1    1  correct
CPT     1    1  correct
SEDG    1    1  correct
BEN     1    1  correct
WRK     1    1  correct
QRVO    1    1  correct
TAP     1    1  correct
CZR     1    1  correct
JNPR    1    1  correct
UHS     1    1  correct
MHK     1    1  correct
TPR     1    1  correct